.form {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  align-self: center;
  border: 1px solid #dbd2fd;
  border-radius: 5px;
}

.label {
  display: block;
  justify-content: center;
  align-self: center;
  font-size: 18px;
}
.text {
  text-align: left;
}

.button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  /* 
  margin-left: auto;
  margin-right: auto; */
  border-radius: 5px;

  background-color: #fe9bd1;
  color: #000000;
  font-weight: 500;
  /* text-align: center; */
}
.button:hover,
.button:focus {
  background-color: #536af8;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
